#version: '3.8' ранее так писали, сейчас этого не требует

services:
  

  db:
    image: postgres:15
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=workspace
    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck: # <-- ДОБАВИТЬ
      test: [ "CMD-SHELL", "pg_isready -U postgres -d workspace" ]
      interval: 5s                    # Проверять каждые 5 секунд
      timeout: 5s                    # Таймаут выполнения команды
      retries: 5                    # Количество попыток до "unhealthy"
      start_period: 60s            # Подождать 30с перед первой проверкой
  app:

    build:
      context: .
      dockerfile: build/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/workspace?sslmode=disable
      - JWT_SECRET=MySuperSecretKeyForJWT_2026!
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network


networks:
  app-network:
    driver: bridge
